body{
    margin-left:40%;
    text-align: center;
    border: 2px solid black;
    width:250px;
    height:300px;
}
h2{
    margin-top: 0%;
    display: block;
}
button{
    border-radius: 20%;
    background-color: rgb(0, 0, 255,0.3);
}
#image{
    width:150 px;
    height:150px;
}
#column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
#row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
#resetGame{
    background-color: red;
}